<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Trip <%= @trip.id %>
      </h1>
    </div>
  </div>
</section>

<% if @trip.errors.any?%>
  <% @trip.errors.each do |column, message|%>
    <li class='errors'>
      <strong><%= column.capitalize %></strong> - <%= message %>
    </li>
  <%end%>
<%end%>

<p>Date : <%= @trip.date%></p>
<p>Cost: $<%= @trip.cost%></p>
<p>
  <% if @trip.rating.nil? || @trip.errors.any? %>
    <%= form_for @trip do |f| %>
      <%= f.label :rating %>
      <%= f.number_field :rating %>
      <%= f.hidden_field :driver_id, value: @trip.driver_id %>
      <%= f.hidden_field :passenger_id, value: @trip.passenger_id %>
      <%= f.submit 'Rate' %>
    <% end %>
  <% else %>
    Rating: <%= @trip.rating %>
  <% end %>
</p>
<p>Driver: <%= @trip.driver.name %></p>
<p>Passenger: <%= @trip.passenger.name %></p>
