
<h2>Trip <%= @trip.id%> Details:</h2>

<p>Date : <%= @trip.date%></p>
<p>Cost: $<%= @trip.cost%></p>
<p>
  <% if @trip.rating.nil? %>
    <%= form_for @trip do |f| %>
      <%= f.label :rating %>
      <%= f.number_field :rating %>
      <%= f.submit 'Rate' %>
    <% end %>
  <% else %>
    Rating: <%= @trip.rating %>
  <% end %>
</p>
<p>Driver: <%= @driver.name %></p>
<p>Passenger: <%= @passenger.name %></p>
