<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%=@passenger.name%>
      </h1>
      <p><%= link_to("Edit info", edit_passenger_path(@passenger.id)) %></p>
      <p> ID : <%= @passenger.id %> </p>
      <p> Phone #: <%= @passenger.phone_num %> </p>
      <p> Total Spent: $<%= @passenger.total_spent %> </p>
    </div>
  </div>
</section>



<p> <%= link_to 'Request Trip', passenger_trips_path(@passenger), method: :post, class: 'button is-large is-link' %>


<%= render partial: 'shared/display_trips', locals: {model: @passenger, pass_driver: 'Driver'} %>

<br>

  <br></br>
  <br></br>
<p> <%= link_to("Delete Passenger", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete #{@passenger.name}?"}) %></p>
