<h3> Passenger info: </h3>

<h2> <%= @passenger.name %> </h2>
<p><%= link_to("Edit info", edit_passenger_path(@passenger.id)) %></p>
<p> ID : <%= @passenger.id %> </p>
<p> Phone #: <%= @passenger.phone_num %> </p>
<p> Total Spent: $<%= @passenger.total_spent %> </p>

<br>
<h4> Trips: </h4>
<ul>
  <% @passenger.trips.each do |trip| %>
    <li>
      <%= link_to trip.id, trip_path(trip) %>
      <%= trip.date %>
      <%= trip.driver.name %>
      <%= trip.rating %>
      <%= trip.cost %>
    </li>
  <% end %>
</ul>

<br>

<p> <%= link_to 'Request Trip', passenger_trips_path(@passenger), method: :post %>
  <br></br>
  <br></br>
<p> <%= link_to("Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete #{@passenger.name}?"}) %></p>
