<h3> Driver info: </h3>

<h2><%=@driver.name%></h2>
<p><%= link_to("Edit info", edit_driver_path(@driver.id)) %></p>
<p>ID : <%=@driver.id%></p>
<p>VIN : <%=@driver.vin%></p>
<p>Total made in trips: $<%= @driver.earnings %></p>
<p>Average rating: <%= @driver.average_rating%></p>

<br></br>
<%= render partial: 'shared/display_trips', locals: {model: @driver, pass_driver: 'Passenger'} %>

<br></br>
<p> <%= link_to("Delete Driver", driver_path(@driver), method: :delete, data: {confirm: "Are you sure you want to delete #{@driver.name}?"}) %></p>
