<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Main Page', root_path %>
        <%= link_to 'Drivers', drivers_path %>
        <%= link_to "Add Driver", new_driver_path %>
        <%= link_to 'Passengers', passengers_path %>
        <%= link_to "Add Passenger", new_passenger_path %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
